
body {
    color: #4e596b !important;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.56em;
}

i {
    color: #4e596b !important;
}

.page-title, #footer {
    display: none;
}

.page-title span {
    display: none !important;
}

#annahmenLink {
    background: #fff none repeat scroll 0 0;
    text-decoration: underline;
}

#grid-zinstabelleTable > div {
    box-sizing: border-box;
    padding: 10px;
}

#grid-zinstabelleTable > .z-table-body > div {
    border: 1px solid #ddd !important;
    color: #4e596b;
}

#grid-zinstabelleTable .ym-fbox.max-width-450 {
    margin-left: 8px;
}

#grid-zinstabelleTable > .z-table-body .ym-fbox-heading {
    font-size: 3em !important;
    font-weight: 200 !important;
    margin: 0 !important;
}

.z-table .z-table-body .z-table-content:hover .ym-gbox:first-child, .z-table .z-table-body .z-table-content:hover::after, .z-table .z-table-body .z-table-content-selected .ym-gbox:first-child, .z-table .z-table-body .z-table-content-selected::after {
    background-color: transparent;
}

.z-table-head > div {
    border: 0 none !important;
    text-align: left;
}

.z-table .z-table-body .z-table-content:hover .ym-gbox:nth-child(2n+1), .z-table-content .ym-gbox {
    background: #fff none repeat scroll 0 0;
    color: #4e596b;
}

.z-table-content-selected .ym-gbox {
    background: #1b57a1 none repeat scroll 0 0 !important;
    color: #fff !important;
}

.z-table-content-selected .ym-fbox-heading {
    color: #fff !important;
    font-size: 3em !important;
    font-weight: 200;
    margin: 0;
}

.z-table-content-selected .ym-gbox {
    color: #fff;
    font-weight: 600;
}

.z-table-content-selected .ym-gbox:nth-child(2n+1), .z-table-content-selected .ym-gbox:nth-child(2n+1) {
    background: #1b57a1 none repeat scroll 0 0 !important;
    color: #fff;
}

.ym-form .ym-fbox-heading {
    font-size: 107.7%;
    font-weight: 400;
}

.ym-form .ym-fbox-heading {
    color: #4e596b;
}

.ym-form > div > div:nth-child(5) .ym-fbox.max-width-450 {
    margin-left: 8px;
}

.ym-form {
    background: #fff none repeat scroll 0 0;
    border: 0 none;
    box-shadow: none;
}

.ym-wbox {
    padding: 0;
}

.ym-form label, .ym-form .ym-label {
    color: #4e596b;
    text-shadow: none;
}

.ym-form label, .ym-form .ym-label {
    color: #4e596b;
    font-size: 0.9em;
    font-weight: 600;
    line-height: 1.5;
    padding-top: 0.25em;
    text-shadow: none;
}

.ym-form input, .ym-form textarea {
    margin-top: 5px;
    padding: 10px;
}

.ym-form span.symbols, .ym-form span.df-symbols {
    padding: 15px 0;
}

.ym-form input, .ym-form textarea, .ym-form select {
    border: 1px solid #ddd;
    border-radius: 0;
    box-shadow: none;
    line-height: 1em;
    padding: 10px;
}

.ym-form > div > div:nth-child(5) {
    margin: -9px -5px 0;
}

.ym-form > div > div:nth-child(5) > div {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: #ddd;
    border-image: none;
    border-style: solid none none;
    border-width: 1px 0 0;
}

.ym-form > div > div:nth-child(5) > div label, .ym-form > div > div:nth-child(5) > div .ym-label {
    font-weight: 400;
}

.ym-form > div > div:nth-child(5) > div.symbols, .ym-form > div > div:nth-child(5) > div .df-symbols {
    padding: 4px 0;
}

.z-table .z-table-head .z-table-content .ym-gbox:nth-child(2n+1), .z-table .z-table-body .z-table-content .ym-gbox:nth-child(2n+1) {
    background-color: #fff;
}

.p-panel-content {
    background-color: #fff;
    border: 1px solid #ddd;
}

a {
    color: #4e596b;
    text-decoration: none;
}

a:hover {
    color: #647288;
}

.clear {
    clear: both;
}

h1 {
    color: #4e596b;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.56;
    padding: 10px 20px;
}

h2 {
    color: #4e596b;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.56;
    padding: 7px 20px;
}

h3 {
    color: #4e596b;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.56;
    margin-top: 0;
}

h4 {
    color: #8fa3ab;
    font-size: 1.5rem;
    font-weight: 200;
    line-height: 1.56;
    padding: 10px 20px;
}

h5 {
    color: #647288;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.56;
    padding: 10px 20px;
}

.ym-offer-hlist ul li button, .ym-offer-hlist ul li:hover button, .ym-offer-hlist ul li:focus button, .ym-offer-hlist ul li.active button, .ym-offer-hlist ul li.active:hover button, .ym-offer-hlist ul li.active:focus button, .ym-offer-hlist ul li.disabled button, .ym-offer-hlist ul li.disabled:hover button, .ym-offer-hlist ul li.disabled:focus button {
    background-color: white;
    color: #4e596b !important;
    font-weight: 200;
    text-shadow: none;
}

.fa-stack {
    background: #1b57a1 none repeat scroll 0 0;
    margin-right: 10px;
    padding: 5px;
}

.fa-stack i:first-child {
    display: none;
}

.fa-stack .fa-stack-1x {
    color: #fff !important;
    text-shadow: none !important;
}

.active .hlist-button-label {
    color: #9ec53b;
    font-weight: 600 !important;
}

.active .fa-stack {
    background: #9ec53b none repeat scroll 0 0;
    margin-right: 10px;
    padding: 5px;
}

.ym-fbox-footer {
    background: #fff none repeat scroll 0 0 !important;
    border: 0 none !important;
}

.right-box-clickme-button {
    background-color: #1b57a1;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    left: -1px;
    padding-top: 15px;
    position: absolute;
    text-shadow: none;
    top: 0;
    width: 69%;
}

.ym-form .ff_notification_error-tooltip {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e02626;
    border-radius: 0;
    box-shadow: none;
    color: #e02626;
    display: table-cell;
    padding: 5px 12px;
    white-space: inherit;
}

.type-message {
    margin-bottom: 10px;
    margin-top: 5px;
}

.loadmask {
    background: #1b57a1 none repeat scroll 0 0;
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute !important;
    top: 0;
    width: 100%;
    z-index: 100;
}

.loadmask-msg {
    background-color: #fff;
}

.tooltip {
    background-color: #9ec53b;
    color: #fff;
    font-size: 0.9em;
    font-weight: 600;
    padding: 5px 10px;
    position: absolute;
}

select,
input {
    color: #4e596b !important;
}

.df-symbols {
    padding-top: 5px !important;
}

.ym-form > div > div:nth-child(5) > div {
    border: 0;
}

.box {
    border: 0;
    box-shadow: none;
    background: transparent none repeat;
}

.box h2 {
    padding:0;
}

.note {
    border: 0 none;
    box-shadow: none;
    margin: -5px;
    color: #4e596b;
    border-radius: 0;
}

.go-on-block > div .ym-g30{
    color: #4e596b !important;
    background:#fff !important;
    border:1px solid #ccc !important;

}

.ff_notification_success {
    color: #4e596b;
    padding: 0;
    text-align: center;
    display: block;
    margin: 0;
}

.ff_notification_success:before {
    display:none;
}


.ym-form input, .ym-form textarea, .ym-form select, .ym-form span.symbols, .ym-form span.df-symbols {
    height: auto
}

#grid-body-bankproducts .grid-body-row-result {
    border: 0;
    box-shadow: none;
}

#grid-body-bankproducts .grid-body-row-buttons {
    background: none;
    border-bottom: 1px solid #ddd;
}

#grid-body-bankproducts .block {
    border: 1px solid #ddd !important;
    box-shadow: none;
}

#grid-head-bankproducts {
    background: none;
    text-shadow: none;
    font-size: .9em;
    font-weight: 600;
    border-bottom: 3px solid #ddd;
}

#grid-head-bankproducts > div {
    border: 0 !important;
}

#grid-body-bankproducts .monatliche-rate::after, #grid-body-bankproducts .restbetrag::after, #grid-body-bankproducts .effektivezins, #grid-head_bankproducts .effektivezins {
    color: #4e596b;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    text-shadow: none;
    width: 100%;
}

#grid-body-bankproducts .monatliche-rate, #grid-body-bankproducts .restbetrag, #grid-body-bankproducts .sollzins {
    font-size: 3em;
    font-weight: 200;
    text-shadow: none;
}

#grid-body-bankproducts .ym-grid .enduser-messages {
    background-color: #fff;
    border-bottom: 5px solid #ddd;
    border-bottom-width: 2px;
    border-top-style: solid;
    display: none;
    padding: 10px;
}

#grid-body-bankproducts .ym-grid .enduser-messages {
    background-color: #fff;
    border-top: 0;
    border-bottom: 5px solid #ddd;
    border-top-style: solid;
    display: none;
    padding: 10px;
}

#header {
    display: none;
    padding: 15px 0 5px;
    position: relative;
}

.go-on-block .fa-stack {
    display: none;
}

.ym-form button::before, .ym-button::before {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    border-radius: 0 !important;
    float: left !important;
    font-size: 1.5em;
    margin: 0 1em 0 -1em;
    padding: 0 0.2em;
    pointer-events: none;
    text-align: center;
    width: 1em;
}

.ym-button, .ym-form button, .ym-form input[type="button"], .ym-form input[type="reset"], .ym-form input[type="submit"] {
    background-color: #fff !important;
    background-image: none !important;
    border: 1px solid #1c4f9d !important;
    color: #1c4f9d !important;
    cursor: pointer;
    display: inline-block;
    font-family: Arial,Helvetica;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size: 1em;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-weight: 400 !important;
    line-height: 2em;
    margin: 0 0.75em 0 0;
    overflow: visible;
    padding: 5px 26px;
    text-decoration: none !important;
    text-shadow: inherit !important;
    white-space: nowrap;
}

@media only screen and (max-width: 850px) {


    #grid-zinstabelleTable > div {
        box-sizing: border-box;
        padding: 1px;
    }

    #grid-zinstabelleTable > .z-table-body .ym-fbox-heading {
        font-size: 1em !important;
        font-weight: 600 !important;
        margin: 0 !important;
    }

    .z-table .z-table-body .z-table-content:after {
        display:none;
    }

    .ym-offer-hlist ul li button .hlist-button-label {
        display:none;
    }



    .go-on-block .ym-button, .ym-form button, .ym-form input[type="button"], .ym-form input[type="reset"], .ym-form input[type="submit"] {
        font-size:0.8em;
        padding: 15px 26px;
    }

}