
body {
    color: #4e596b !important;
    font-family: "Raleway",sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.56em;
}
i {
    color: #4e596b !important;
}
.page-title, #footer {
    display: none;
}
.page-title span {
    display: none !important;
}
#annahmenLink {
    background: red none repeat scroll 0 0;
}
#grid-zinstabelleTable > div {
    box-sizing: border-box;
    padding: 10px;
}
#grid-zinstabelleTable > .z-table-body > div {
    border: 1px solid #ddd !important;
    color: #4e596b;
}
#grid-zinstabelleTable .ym-fbox.max-width-450 {
    margin-left: 8px;
}
#grid-zinstabelleTable > .z-table-body .ym-fbox-heading {
    font-size: 3em !important;
    font-weight: 200 !important;
    margin: 0 !important;
}
.z-table .z-table-body .z-table-content:hover .ym-gbox:first-child, .z-table .z-table-body .z-table-content:hover::after, .z-table .z-table-body .z-table-content-selected .ym-gbox:first-child, .z-table .z-table-body .z-table-content-selected::after {
    background-color: transparent;
}
.z-table-head > div {
    border: 0 none !important;
    text-align: left;
}
.z-table .z-table-body .z-table-content:hover .ym-gbox:nth-child(2n+1), .z-table-content .ym-gbox {
    background: #fff none repeat scroll 0 0;
    color: #4e596b;
}
.z-table-content-selected .ym-gbox {
    background: #1b57a1 none repeat scroll 0 0 !important;
    color: #fff !important;
}
.z-table-content-selected .ym-fbox-heading {
    color: #fff !important;
    font-size: 3em !important;
    font-weight: 200;
    margin: 0;
}
.z-table-content-selected .ym-gbox {
    color: #fff;
    font-weight: 600;
}
.z-table-content-selected .ym-gbox:nth-child(2n+1), .z-table-content-selected .ym-gbox:nth-child(2n+1) {
    background: #1b57a1 none repeat scroll 0 0 !important;
    color: #fff;
}
.ym-form .ym-fbox-heading {
    font-size: 107.7%;
    font-weight: 400;
}
.ym-form .ym-fbox-heading {
    color: #4e596b;
}
.ym-form > div > div:nth-child(5) .ym-fbox.max-width-450 {
    margin-left: 8px;
}
.ym-form {
    background: #fff none repeat scroll 0 0;
    border: 0 none;
    box-shadow: none;
}
.ym-wbox {
    padding: 0;
}
.ym-form label, .ym-form .ym-label {
    color: #4e596b;
    text-shadow: none;
}
.ym-form label, .ym-form .ym-label {
    color: #4e596b;
    font-size: 0.9em;
    font-weight: 600;
    line-height: 1.5;
    padding-top: 0.25em;
    text-shadow: none;
}
.ym-form input, .ym-form textarea {
    margin-top: 5px;
    padding: 10px;
}
.ym-form span.symbols, .ym-form span.df-symbols {
    padding: 15px 0;
}
.ym-form input, .ym-form textarea, .ym-form select {
    border: 1px solid #ddd;
    border-radius: 0;
    box-shadow: none;
    line-height: 1em;
    padding: 10px;
}
.ym-form > div > div:nth-child(5) {
    margin: -9px -5px 0;
}
.ym-form > div > div:nth-child(5) > div {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: #ddd;
    border-image: none;
    border-style: solid none none;
    border-width: 1px 0 0;
}
.ym-form > div > div:nth-child(5) > div label, .ym-form > div > div:nth-child(5) > div .ym-label {
    font-weight: 400;
}
.ym-form > div > div:nth-child(5) > div.symbols, .ym-form > div > div:nth-child(5) > div .df-symbols {
    padding: 4px 0;
}
.z-table .z-table-head .z-table-content .ym-gbox:nth-child(2n+1), .z-table .z-table-body .z-table-content .ym-gbox:nth-child(2n+1) {
    background-color: #fff;
}
.p-panel-content {
    background-color: #fff;
    border: 1px solid #ddd;
}
a {
    color: #4e596b;
    text-decoration: none;
}
a:hover {
    color: #647288;
}
.clear {
    clear: both;
}
h1 {
    color: #4e596b;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.56;
    padding: 10px 20px;
}
h2 {
    color: #4e596b;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.56;
    padding: 7px 20px;
}
h3 {
    color: #4e596b;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.56;
    margin-top: 0;
}
h4 {
    color: #8fa3ab;
    font-size: 1.5rem;
    font-weight: 200;
    line-height: 1.56;
    padding: 10px 20px;
}
h5 {
    color: #647288;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.56;
    padding: 10px 20px;
}
.ym-offer-hlist ul li button, .ym-offer-hlist ul li:hover button, .ym-offer-hlist ul li:focus button, .ym-offer-hlist ul li.active button, .ym-offer-hlist ul li.active:hover button, .ym-offer-hlist ul li.active:focus button, .ym-offer-hlist ul li.disabled button, .ym-offer-hlist ul li.disabled:hover button, .ym-offer-hlist ul li.disabled:focus button {
    background-color: white;
    color: #4e596b !important;
    font-weight: 200;
    text-shadow: none;
}
.fa-stack {
    background: #1b57a1 none repeat scroll 0 0;
    margin-right: 10px;
    padding: 5px;
}
.fa-stack i:first-child {
    display: none;
}
.fa-stack .fa-stack-1x {
    color: #fff !important;
    text-shadow: none !important;
}
.active .hlist-button-label {
    color: #9ec53b;
    font-weight: 600 !important;
}
.active .fa-stack {
    background: #9ec53b none repeat scroll 0 0;
    margin-right: 10px;
    padding: 5px;
}
.ym-fbox-footer {
    background: #fff none repeat scroll 0 0 !important;
    border: 0 none !important;
}
.right-box-clickme-button {
    background-color: #1b57a1;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    left: -1px;
    padding-top: 15px;
    position: absolute;
    text-shadow: none;
    top: 0;
    width: 69%;
}
.ym-form .ff_notification_error-tooltip {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e02626;
    border-radius: 0;
    box-shadow: none;
    color: #e02626;
    display: table-cell;
    padding: 5px 12px;
    white-space: inherit;
}
.type-message {
    margin-bottom: 10px;
    margin-top: 5px;
}
.loadmask {
    background: #1b57a1 none repeat scroll 0 0;
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute !important;
    top: 0;
    width: 100%;
    z-index: 100;
}
.loadmask-msg {
    background-color: #fff;
}

.tooltip {
    background-color: #9ec53b;
    color: #fff;
    font-size: 0.9em;
    font-weight: 600;
    padding: 5px 10px;
    position: absolute;
}
